@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-raleway: "Raleway", sans-serif;
  --color-orange: #ff5613;
  --color-purple: #4b69fd;
  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;

  /* for mobile of width 430px and below */
  --breakpoint-xs: 430px;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-width: 430px;
  min-height: 100vh;

  span,
  p {
    vertical-align: middle;
  }

  * {
    transition: all 0.3s ease-in-out;
  }
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  min-width: 430px;
  width: 100%;
  min-height: 100vh;
}

button {
  cursor: pointer;
}
.loader{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.loader:after {
  content: " ";
  display: block;
  width: clamp(40px, 80%, 200px);
  aspect-ratio: 1/1;
  margin: auto;
  border-radius: 50%;
  border: 10px solid #01d099;
  border-color: #01d099 transparent #01d099 transparent;
  animation: wg_dual_ring 1.2s linear infinite;
}

@keyframes wg_dual_ring {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}



@keyframes slide-up {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.4s ease-out;
}